.todos {
    border: 1px solid darkgrey;
    padding: 5px 20px 20px;
    margin: 20px 0;
}
ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

.is-completed {
    text-decoration: line-through;
    color: darkgrey;
}

.todo {
    background-color: #EAEAEA;
    margin-bottom: 10px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.todo span {
    font-weight: bold;
}

.todo input {
    margin-left: 5px;
}
.todo time {
    display: block;
    color: gray;
}

.is-checked span {
    text-decoration: line-through;
}
